<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!--Inicio Header -->
    <%-include ('partials/header') %>
     <!--Fin Header-->

    <main class="contenedor_carrito">

        <h2 class="carrito__titulo">CARRITO DE COMPRAS</h2>
    
        <section class="carrito__columnas carrito__bordes">
            <div class="carrito__columnas_lista">
                <p>DETALLE DEL PRODUCTO</p>
                <p>CANTIDAD</p>
                <p>TOTAL</p>
            </div>
        </section>
    
        <section class="carrito__items">
            <article class="carrito__item carrito__bordes">
                <div class="carrito__item__info">
                    <picture>
                        <img src="../multimedia/star-wars/baby-yoda-1.webp"
                            alt="Figura coleccionable Funko de Grogu de la serie The Mandalorian">
                    </picture>
                </div>
                <div>
                    <h3 class="carrito__item_titulo">BABY YODA BLUEBALL</h3>
                    <p class="carrito__item_parrafo">STAR WARS</p>
                    <p class="carrito__item_parrafo">precio unitario: $1799,99</p>
                </div>
                <div class="carrito__item_botones">
                    <input class="carrito__input" type="number" id="cantidad" name="cantidad" value="2">
                    <button class="carrito__input">+</button>
                    <button class="carrito__input">-</button>
                    <p class="carrito__item_parrafo">$ 3599,98</p>
                    <img src="../multimedia/icons/cancelar.png">
                </div>
            </article>

            <article class="carrito__item carrito__bordes">
                <div class="carrito__item__info">
                    <picture>
                        <img src="../multimedia/pokemon/pidgeotto-1.webp"
                            alt="Figura coleccionable Funko de Pidgeotto de Pokemon">
                    </picture>
                </div>
                <div>
                    <h3 class="carrito__item_titulo">PIDGEOTTO</h3>
                    <p class="carrito__item_parrafo">POKEMON</p>
                    <p class="carrito__item_parrafo">precio unitario: $1799,99</p>
                </div>
                <div class="carrito__item_botones">
                    <input class="carrito__input" type="number" id="cantidad" name="cantidad" value="1">
                    <button>+</button>
                    <button>-</button>
                    <p class="carrito__item_parrafo">$ 1799,99</p>
                    <img src="../multimedia/icons/cancelar.png">
                </div>
            </article>

        </section>

        <section class="resumen">

            <h2 class="resumen__titulo">RESUMEN</h2>

            <div class="resumen__detalles carrito__bordes">
                <div class="resumen__detalle"><p>CANTIDAD DE ELEMENTOS</p><p class="resumen__detalle_valor">3</p></div>
                <div class="resumen__detalle"><p>SUBTOTAL</p><p class="resumen__detalle_valor">$ 5.399,97</p></div>
                <div class="resumen__detalle"><p>ENVIO</p><p class="resumen__detalle_valor">$ 0,00</p></div>
                <div><hr class="resumen__hr"></div>
                <div class="resumen__detalle"><p>TOTAL</p><p class="resumen__detalle_valor">$ 5.399,97</p></div>
            </div>

            <button class="resumen__button">IR A PAGAR</button>
            
        </section>

    </main>
    <!-- Footer -->
    <%-include('partials/footer') %>
    <script src="../js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="../js/glide.js"></script>
</body>

</html>