<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!--Inicio Header -->
    <%-include ('partials/header2') %>
    <!--Fin Header--> 
    <!-- inicio register -->
    <main class="container">
        <section class="form__register">
            <h1 class="register__title">CREA TU CUENTA</h1>
            <h3 class="register__subtitulo">Completa el formulario para ser parte del mundo de los Funkos</h3>

            <form action="/register/" method="post">

                <label class="label__input label__register" for="name">Nombre:</label>
                <input class="input__item input__register" type="text" name="name" placeholder="Nombre" required>

                <label class="label__input label__register" for="lastname">Apellido:</label>
                <input class="input__item input__register" type="text" name="lastname" placeholder="Apellido" required>

                <label class="label__input label__register" for="email">Email:</label>
                <input class="input__item input__register" type="email" name="email" id="" placeholder="Email" required>

                <label class="label__input label__register" for="password">Contraseña:</label>
                <input class="input__item input__register" type="password" name="password" placeholder="************" required>

                <label class="label__input label__register" for="password">Repita Contraseña:</label>
                <input class="input__item input__register" type="password" placeholder="************" required>

                <div class="register__btn">
                    <button class="btn reg-btn">Registrar</button>
                    <div class="terminos">
                        <input class="input__terminos" type="checkbox" name="terminos" id="terminos">
                        <label class="label__terminos" for="terminos">Acepto <span> "Términos y Condiciones</span></label>
                    </div>
                </div>

            </form>
        </section>
    </main>
<!-- fin register -->
<!-- footer -->
<%-include ('partials/footer2') %>
<script src="../js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

</body>
</html>
