<!-- Footer -->
<footer class="footer">
    <div class="navbar container">
        <ul>
            <li class="navbar__item">
                <a class="navbar__link" href="pages_tienda/shop.html">Shop</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="pages_admin/login.html">Ingresar</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="pages_admin/contacto.html">Contacto</a>
            </li>
        </ul>
        <picture class="footer__logo">
            <img src="multimedia/branding/isotype.svg" alt="Logo del sitio" />
        </picture>
    </div>
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy ;</p>
</footer>