<header>
    <picture class="navbar__logo">
        <a href="/">
            <img class="img-logo" src="multimedia/branding/logo_light_horizontal.svg"
                alt="Isologotipo de la Marca funkoshop">
        </a>
    </picture>
    <button id="abrir" class="menu-abrir"><iconify-icon icon="fa6-solid:bars"></iconify-icon></button>
    <nav class="nav" id="nav">
        <button id="cerrar" class="menu-cerrar"><iconify-icon icon="fa6-solid:bars"></iconify-icon></button>
        <ul class="navbar__menu">
            <li class="navbar__item with__submenu">
                <a class="navbar__link with-icon" href="shop.ejs">SHOP<iconify-icon
                        icon="ion:chevron-down"></iconify-icon></a>
                <ul class="submenu">
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Funkos</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Remeras</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Llaveros</a>
                    </li>
                </ul>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="pages_admin/contacto.html">CONTACTO</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="pages_admin/login.html">LOGIN</a>
            </li>
            <li class="nabvar__item">
                <a class="navbar__cart" href="pages_tienda/carrito_compras.html">
                    <img src="multimedia/icons/cart-icon.svg" alt="ícono de carrito">
                </a>
            </li>
        </ul>
    </nav>

</header> <!--Fin Header-->