<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FunkoShop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ('../partials/header') %>
     <!-- Banner -->
     <section class="banner">
         <article class="banner__content container">
             <h3 class="banner__title">Nuevos ingresos</h3>
             <p class="banner__subtitle">Descubrí el próximo Funko Pop de tu colección</p>
             <a class="banner__link" href="pages_tienda/shop.html">SHOP</a>
         </article>
     </section>
     <%- body %>
     <%- include ('../partials/footer') %>
     <script src="/js/script.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
     <script src="/js/glide.js"></script>
 
 </body>
 
 </html>

 /*nosotros vamos a usar 3 layouts uno para la tienda uno para admin y otro para autenticacion* /
 /* vamos a usar una view por cada pagina del proyectouna vista del shop una vista para index ,item y carrito*/